/* Contact Page Styles */
.contact-inner-wrapper {
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
  display: flex; /* Ensure flexbox layout */
}

.contact-inner-wrapper > div {
  width: 48%; /* Set width for inner divs */
}

.contact-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
}

/* Styling for the submit button */
.contact-inner-wrapper .button {
  background-color: #003a77;
  color: white;
  padding: 7px 17px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  width: 65px;
}

/* Hover effect for the button */
.contact-inner-wrapper .button:hover {
  background-color: #006de2;
  color: white;
  text-decoration: none;
}

.contact-inner-wrapper form .form-control {
  background-color: #e8e8e8;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none; /* Remove default list styles */
  padding-left: 0; /* Remove padding */
}

.contact-inner-wrapper address,
.contact-inner-wrapper span {
  color: var(--color-777777); /* Use a variable for color consistency */
}

/* Responsive Styles */
@media (max-width: 768px) {
  iframe {
    height: 300px;
  }

  .contact-inner-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .contact-inner-wrapper > div {
    width: 100%;
  }
}
